@font-face {
    font-family: "OPPOSans-H-dashboard";
    src: url("/font/OPPOSans-H/dashboard/OPPOSans-H.eot"); /* IE9 */
    src: url("/font/OPPOSans-H/dashboard/OPPOSans-H.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("/font/OPPOSans-H/dashboard/OPPOSans-H.woff") format("woff"), /* chrome、firefox */
    url("/font/OPPOSans-H/dashboard/OPPOSans-H.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("/font/OPPOSans-H/dashboard/OPPOSans-H.svg#OPPOSans-H") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


