@font-face {
    font-family: "DINCond-Black";
    
    src: url("/font/DINCond-Black/DINCond-Black.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    font-style: normal;
    font-weight: normal;
}


